---
Title: Marin Property Management
Description: Utlizing the latest technology for property management in Marin
layout: landing-page
location: Marin
location_description: Marin property management can often be difficult to work with. Our experienced local agents leverage our next-generation software to seamlessly manage your property. Our Marin property management services includes a personal property concierge,  rent collection, inspections every 6 months, repair request processing, and full financial accounting. Get started for free and see why we are the #1 property management company in Marin.
---
<!-- Main CTA -->
<section class="lp-style">
    <section class="main-padding single-col-center grad-bg-2 img-container lp-hero large-paragraph">
        <h1><%= current_page.data.location %> Property Management</h1>
        <p>Utilizing the latest technology and excellent customer service. All for <strong>$95 bucks a month.</strong> Get started for free.</p>
        <div class="input-row homepage-input">
            <input placeholder="Email Address">
            <button class="btn btn-primary">Get Started</button>
        </div> 
        <img style="max-width: 800px;" alt="Ziprent software on the devices" src="/images/software/platform-devices.png">
    </section> 
</section>

<!-- Regional Description-->
<section class="single-col-center main-padding">
    <h2>We Know <%= current_page.data.location %></h2>
    <p><%= current_page.data.location_description %></p>
</section>

<!-- How it works flow-->
<%= partial 'partials/lp/process' %>

<!-- Cusotmer Love section-->
<section class="main-padding single-col-center">
    <h2>Customer Love ❤️</h2>
    <p>Ziprent has saved our customers thousands of dollars in property management fees. See what they have to say!</p>
    <%= partial 'partials/customer' %>
</section>

<!-- Bottom CTA -->
<%= partial 'partials/bottom-cta-2' %>