---
title: Property Management Services | Ziprent
description: add
---

<section class="single-col--center main-padding">
    <h1> See what we offer</h1>
    <p><%= lorem.sentences 2 %></p>
</section>

<!-- Outlining property maitenance-->
<section class="single-col--center main-padding">
    <h2>Managing your property</h2>
    <p><%= lorem.sentences 2 %></p> 
</section>

<section class="two-col--container main-padding">
    <div>
        <img src="<%= lorem.image('400x300', :random_color => true) %>">
    </div>
    <div class="no-margin-top">
        <h3>Property Concierge</h3>
        <p>We understand that sometimes you need human interaction. With your property concierge available 24/7, you can be rest assured that any issue will be taken care in a timely and professional manner. </p> 
    </div>
</section>

<section class="two-col--container main-padding">
    <div>
        <img src="<%= lorem.image('400x300', :random_color => true) %>">
    </div>
    <div class="no-margin-top">
        <h3>Lighting Quick Rental Payments</h3>
        <p>We have partnered up with First Republic Bank to offer next day deposit of your rental income. No other service can deposit your rental income faster than we can. We believe their shouldn’t be any delay in receiving your money.</p> 
    </div>
</section>

<section class="three-col--container main-padding">
    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>Rental Maitenance</h3>
        <p>We provide tenants the ability to submit maintenance request online. From there we gather quotes from our network of qualified experts and provide you with several options to choose from.</p> 
    </div>
    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>Rent Guarantee</h3>
        <p>All tenants found by Ziprent come with a 1 month rent guarantee just in case something goes wrong. We always make sure you receive your expected income. </p> 
    </div>

    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>24/7 Customer Support</h3>
        <p>Our customer support team is available 24/7 for your or your tenants. Whatever the issue, rest assured it will be handle with great detail and efficiency.</p> 
    </div>
</section>

<!-- Outlining tenant placement services-->
<section class="single-col--center main-padding">
    <h2>Getting your property filled</h2>
    <p><%= lorem.sentences 2 %></p>
</section>

<section class="two-col--container main-padding">
    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>Tenant Screening</h3>
        <p>We thoroughly vet all prospective tenants who apply for our properties with both a background and credit check. We surface this information clearly to our homeowners maintaining transparent communication</p> 
    </div>

    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>Automated Lease Generation</h3>
        <p>When a tenant is select we automatically generate a lease agreement to be signed by both parties. It is as easy as that.</p> 
    </div>
</section>

<section class="three-col--container main-padding">
    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>Professional Photography</h3>
        <p>We have curranted a network of photographers to use for your property. We can guarantee that your property will look absolutely stunning. Having high-quality, extensive photos of your property decreases the time it takes to find the perfect tenant.</p> 
    </div>

    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>Property Listings</h3>
        <p>We’ve partnered with over 20 listing sites, such as Zillow, Trulia, Co-Star Network, and Craigslist. We have set out to ensure all our properties receive the proper exposure to potential qualified tenants.</p> 
    </div>

    <div>
        <img src="<%= lorem.image('300x200', :random_color => true) %>">
        <h3>On-Demand Showings</h3>
        <p>No longer do prospective tenants have to coordinate schedules with a property manager or homeowner to see a property. With Ziprent, prospective tenants can select a time that works for them and we will send them a unique code for them to open up a lockbox and view the property. </p> 
    </div>
</section>






